<launch>
<include file ="$(find main_run)/launch/main_run.launch" />
<include file ="$(find cartographer_ros)/launch/demo_backpack_2d_localization.launch" />

<!-- move_base -->
<include file="$(find main_run)/launch/move_base.launch"/>
<node pkg="main_run" type="main_run_node" name="node" output="screen" />


</launch>
