<launch>
 <arg name="urdf_path" default="$(find urdf_tutorial)/urdf/feetech.urdf.xacro"/>

  <param name="robot_description" textfile="$(arg urdf_path)" />
   <arg name="usb_port"                default="/dev/feetech"/>

    <rosparam file="$(find feetech_controls)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find feetech_controls)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find feetech_moveit)/config/joint_limits.yaml" command="load"/>
    <node name="ROBOT_hardware_interface_node" pkg="feetech_controls" type="ROBOT_hardware_interface_node" output="screen" args="$(arg usb_port)"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            joint_state_controller
            arm_position_controller
            head_position_controller
        "/>
   
</launch>
